.listaProductos {
  margin-top: 20px;
}

.listaProductos h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.listaProductos table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.listaProductos th,
.listaProductos td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.listaProductos th {
  background-color: #f0f0f0;
}

.listaProductos button {
  background-color: #213555;
  color: whitesmoke; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.listaProductos .acciones button:hover {
  background-color: #0056b3;
}
