.listaProductos {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #A9A794;
  width: 90vw;
  border-radius: 40px;
}

.listaProductos h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.listaProductos table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.listaProductos th,
.listaProductos td {
  padding: 10px;
  border: 2px solid black;
  text-align: left;
}

.listaProductos th {
  color:aliceblue;
  background-color: #214F55;
}

.listaProductos td{
  font-size: 16px;
}

.listaProductos img {
  max-width: 100px;
  max-height: 100px;
}

.listaProductos input[type="text"],
.listaProductos textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.listaProductos button {
  background-color:transparent;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  padding: 3px 8px;
  margin-left: 5px;
  cursor: pointer;
}

.listaProductos button:hover {
  color: #007bff;
}

.listaProductos td:last-child {
  text-align: right;
  vertical-align: middle;
}
