.bodyProductos{
  background-color: #d8c4b6;
}
.listaProductosContainer {
  display: flex;
  flex-direction: row;
}
.tituloLista {
  text-align: center;
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.cardProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.cardProductos li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  background-color: #E5E5E5;
  width: 20vw;
  height: 30vh;
}

.imgLista {
  width: 100%;
  height: 20vh;
  border-radius: 3rem;
  margin: 0 auto;
}
.productoNombre {
  font-size: 1rem;
  margin-top: 10px;
  text-align: left;
}
.productoPrecio {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  color: #e91e63;
  text-align: left;
}

/*.filtroProductos {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.listaCategorias {
  margin-top: 10px;
}

.etiquetaCategoria {
  display: block;
  margin-bottom: 5px;
}

.buttonFiltro {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.buttonFiltro:hover {
  background-color: #0056b3;
}*/