/* AgregarProducto.module.css */

.agregarProducto {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .mensajeError {
    color: red;
    margin-bottom: 10px;
  }
  
  form label,
  form input,
  form textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  