.administrarCategorias {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .agregarCategoria {
    margin-top: 20px;
  }
  
  .agregarCategoria input {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .agregarCategoria button {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #213555;
  }
  .listaCategorias li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
  }
  
  .listaCategorias h3 {
    margin: 0;
  }
  
  .listaCategorias img {
    max-width: 100%;
  }
  