/* Estilos para el componente de inicio de sesión */
.loginContainer {
    width: 25vw;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f5f5f5;
  }
  
 

  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .avatar {
    background-color: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .errorMessage {
    color: red;
  }
  