.buscadorContainer {
    width: 90vw;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #A9A794;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buscadorH3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: whitesmoke;
    text-align: center;
  }
  
  .selectContainer {
    margin-bottom: 2rem;

  }
  
  .buscadorSelect {
    width: 45vw;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: none;
    height: 2.6rem;
  }
  .producto{
    color: black;
  }
  
  .datePickerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 6rem;
  }
  
  .datePicker {
    width: 48%;
  }
  .datePicker1{
    background-color: #D9D9D9;
    border: none;
    border-radius: 0.5rem;
    width: 18vw;
    height: 5vh;
  }
  
  .buscadorLabels {
    font-weight: bold;
    color: whitesmoke;
  }
  
  .buscadorButton {
    background-color: #213555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    width: 20vw;
  }
  
  .buscadorButton:hover {
    background-color: #0056b3;
  }
  
  .productList {
    margin-top: 20px;
  }
  
  .productList h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  

  
  @media (max-width: 768px) {
    .buscadorH3{
      font-size: 1rem;
    }
    .datePickerContainer {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
    .buscadorSelect {
      width: 65vw;
      font-size: 0.8rem;
    }  
    .datePicker {
      width: 100%;
      margin-bottom: 10px;
    }
    .buscadorButton {
      width: 50vw;
      height: 6vh;
      font-size: 0.8rem;
    }
    .datePicker1{
      width: 50vw;
      height: 5vh;
      font-size: 0.8rem;
    }
  }